# TensorFlow is much easier to install using Anaconda, especially
# on Windows or when using a GPU. Please see the installation
# instructions in INSTALL.md

##### Core scientific packages
jupyter==1.0.0
jupyter==1.0.0
jupyter-client==5.0.0
jupyter-console==5.1.0
jupyter-core==4.3.0
matplotlib==3.3.4
numpy==1.21.0
pandas==1.2.2
scipy==1.6.00

##### Machine Learning packages
scikit-learn==0.24.1

# Optional: the XGBoost library is only used in chapter 7
xgboost==1.3.3

##### TensorFlow-related packages

# If you want to use a GPU, it must have CUDA Compute Capability 3.5 or
# higher support, and you must install CUDA, cuDNN and more: see
# tensorflow.org for the detailed installation instructions.

tensorflow==1.15.5 # or tensorflow-gpu==1.15.5 for GPU support

tensorboard==1.15.0



